@font-face {
    font-family: Burbank;
    src: url(fonts/Burbank.ttf);
  }
  
  .deductive_body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.deductive_header{
    font-family: Burbank;
    font-size
}

.deductive_bottom{
    display: grid;
    grid-template-columns: 3fr 1fr;
}


  
