@font-face {
    font-family: Burbank;
    src: url(fonts/Burbank.ttf);
  }
  
  .deductive_body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.deductive_header{
    font-family: Burbank;
}

.deductive_image{
    width:55vw;
    height:25vw;
    margin-bottom: 25px;
    object-fit:cover;
}

.deductive_bottom{
    width:60vw;
    display:flex;
    align-items: center;
    flex-direction: row;
}

.next_button{
    width: 150px;
    height: 50px;
    background-color:green;
    border-radius:5px;
}

.deductive_result{
    display: none;
}