@font-face {
    font-family: Burbank;
    src: url(fonts/Burbank.ttf);
}

body {
    font-family: Burbank;
    font-size: 24pt;
}

h1 {
    font-size: 48pt;
}

.note {
    font-size: 18pt;
}

.quiz_tutorial {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    font-family: Burbank;
    font-size: 14pt;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

button:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.quiz_question {
    display: none;
}

.quiz_answer {
    display: none;
}